{
  // Default options
  'functions': true
}

{{#items}}
${{name}}2x: {{px.x}} {{px.y}} {{px.offset_x}} {{px.offset_y}} {{px.width}} {{px.height}} {{px.total_width}} {{px.total_height}} '{{{escaped_image}}}' {{total_width}} {{total_height}};
{{/items}}

{{#options.functions}}
@mixin sprite2x-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite2x-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite2x-position($sprite) {
  background-position: nth($sprite, 3) nth($sprite, 4);
}

@mixin sprite2x-image($sprite) {
  background-image: url('#{nth($sprite, 9)}'); /*ImageEmbed:skip*/
}

@mixin sprite2x($sprite) {
  @include sprite2x-image($sprite);
  @include sprite2x-position($sprite);
  @include sprite2x-height($sprite);
  @include sprite2x-width($sprite);
}
{{/options.functions}}